$primaryColor: green;

@font-face {
  font-family: "Montserrat Alternates";
  src: url(../fonts/MontserratAlternates-Medium.woff2) format(woff2);
  display: swap;
}

* {
  font-family: "Montserrat Alternates", sans-serif;
  padding: 0;
  margin: 0;
}

.contacts {
  width: 100%;
  height: 75dvh;
  background:
    radial-gradient(circle at top, rgba(0, 255, 102, 0.1), transparent 40%),
    linear-gradient(180deg, #071007 0%, #020402 100%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.contacts_info-container {
  width: 40%;
  height: 65%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 15px;
}

.contacts_info-container h2 {
  font-size: 42px;
}

.info-container_info-block {
  width: calc(auto - 50px);
  height: calc(18% - 50px);
  padding: 25px;
  border: 1px solid #7ef07e;
  box-shadow:
    rgba(0, 255, 102, 0.22) 0px 0px 18px,
    rgba(0, 255, 102, 0.12) 0px 0px 42px;
  border-radius: 15px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 15px;
}

.info-block_img-bg {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 2px solid #7ef07e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-container_info-block h3 {
  font-size: 26px;
  color: lightgrey;
}

.info-container_info-block a {
  font-size: 26px;
  color: lightgrey;
  text-decoration: none;
  font-weight: 600;
}

.info-block_address-block {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 8px;
}

.info-block_address-block h3 {
  font-size: 19px;
}

.info-block_btn-to-max {
  padding: 8px 20px 8px 20px;
  background: none;
  color: #7ef07e;
  border: 2px solid #7ef07e;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  transition: 0.4s;
  text-decoration: none;
  &:hover {
    color: black;
    background: #7ef07e;
    cursor: pointer;
  }
}

.contacts_map {
  width: 40%;
  height: 465px;
  border-radius: 28px;
  background: #000;
  box-shadow:
    0 25px 40px -12px rgba(0, 0, 0, 0.6),
    0 0 0 2px #7ef07e,
    0 0 0 8px rgba(126, 240, 126, 0.2),
    inset 0 2px 5px rgba(255, 255, 255, 0.1);
}

.leaflet-control-zoom a {
  background: black !important;
  color: #7ef07e !important;
  border: 2px solid white !important;
}

.leaflet-popup-content-wrapper {
  background: black !important;
  color: #7ef07e !important;
  border: 2px solid white !important;
}

.leaflet-control-attribution {
  background: black !important;
  color: #7ef07e !important;
  border: 1px solid white !important;
}

.leaflet-tile-pane {
  filter: brightness(0.9) contrast(1.1) !important;
}

@media (max-width: 1085px) {
  .contacts {
    flex-direction: column;
    align-items: center;
    height: 80dvh;
  }

  .contacts_map {
    width: 90%;
    height: 40%;
    margin-bottom: 10px;
  }

  .contacts_info-container {
    width: 100%;
    height: 65%;
    align-items: center;
  }

  .info-container_info-block {
    width: calc(auto - 50px);
    height: 10%;
    padding: 20px;
    justify-content: center;
  }

  .info-container_info-block h3 {
    font-size: 24px;
  }

  .info-container_info-block a {
    font-size: 24px;
  }

  .info-block_address-block h3 {
    font-size: 18px;
  }
}
